.header{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid black;
}
.nav-items ul{
    display: flex;
}

.nav-items li{
    list-style: none;
    margin-right: 10px;
}
.logo{
    width: 80px;
}